{% extends 'base_sidebar_visitor.html' %}
{% load bootstrap3 %}

{% block body %}
<div class="background"></div>
<div class="background-overlay"></div>
<form  role="form" action="" method="post" autocomplete="off">
    <div class="form-container col-md-offset-4 col-sm-offset-4 col-md-5 col-sm-5">
        <div style="height: 50vh;display: flex;justify-content: space-between; flex-wrap: wrap">
            <h2 align="center">Login</h2>
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="{{ field.id_for_label }}">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <button name="register" type="submit" class="submitbtn">Login</button>
        </div>
    </div>
</form>
{% endblock %}