{% extends 'base.html' %}
{% block head %}{% endblock %}

{% block sidebar %}
    <div class="sidebar col-md-1 col-sm-1">
        <div class="hamburger">
          <label class="toggle">
              <input type="checkbox">
              <div>
                  <div>
                      <span></span>
                      <span></span>
                  </div>
                  <svg>
                      <use xlink:href="#path"></use>
                  </svg>
                  <svg>
                      <use xlink:href="#path"></use>
                  </svg>
              </div>
          </label>

          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
              <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" id="path">
                  <path d="M22,22 L2,22 C2,11 11,2 22,2 C33,2 42,11 42,22"></path>
              </symbol>
          </svg>
        </div>
    </div>
    <div class="social"></div>
    <div class="espace"></div>
{% endblock %}
{%block body %}{% endblock %}